@charset "UTF-8";

/* Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: Acima de 1200px */

@media screen and (min-width: 768px){

    #burguer{
        display: none;
    }

    #itens{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        width: 140px;
    }

    main{
        width: 768px;
    }
}
